﻿<form name="form" (ngSubmit)="f.form.valid && loginFunc()" #f="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <!--<i class="material-icons prefix">account_circle</i>-->
        <div class="validate" [ngClass]="{ 'has-error': f.submitted && !login.valid }">
            <label for="login">Username</label>
            <input type="text" class="validate" name="login" [(ngModel)]="model.login" #login="ngModel" required />
            <div *ngIf="f.submitted && !login.valid" class="help-block">Username is required</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <!--<i class="material-icons prefix">vpn_key</i>-->
        <div class="validate" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="validate" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
      </div>
    </div>
   <div class="row">
     <div class="input-field col s12">
        <div class="validate">
            <button [disabled]="!f.valid" class="btn btn-primary">Login</button>
        </div>
     </div>
   </div>
 </form>
