@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
body{
  font-family: Helvetica;
  margin: 0;
  margin-top: 20px;
  background-image: url("../../../assets/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  padding: 3em;
  font-family: 'Raleway', 'Arial';
}

h2 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.1;
  font-style: initial;
  margin-left: 1.5%;
  font-weight: bold;
  text-decoration: underline;
}

.col {
    padding: .4em 1.3em;
}

.row {display: inline;}

.row .col-sm-2 .btn{
  background: none;
  color: black;
  margin: 5px;
  box-shadow: none;
}

.row .col-sm-2 ul li{
  border:1px solid black;
}
.row .col-sm-2 ul li ul li{
  border: none;
  margin-left: 7em;
}
.row .col-sm-2 ul li ul li a{
  color: black;
  font-size:12px;
}
.row .col-sm-2 {
  min-width: 228px;
  max-width: 239px;
}

/* .st_box_infos{
  border: 2px solid;
  padding: 15px;
} */

.col-sm-8 {
    width: 75%;
  background-color: #FFF9;
}

.nk_members_of_project li{
  font-family: Helvetica;
}
