<app-header></app-header>
<body>

  <div class="column">
    <div class="row">

      <div class="col-sm-2">
        <sidemenu-project></sidemenu-project>
      </div>

      <div class="col-sm-8">
        <h2>Project Name</h2>
        <p>{{ currentProject.name }}</p>
        <h2>Description</h2>
        <p>{{ currentProject.description }}</p>
        <h2>Scrum Team</h2>
        <div class="st_box_infos">
          <ul class="nk_members_of_project">
            <li *ngFor="let item of currentProject.users">
              <p> {{item.login}} </p>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</body>
