<app-header></app-header>
<body>

  <div class="column">
    <div class="row">

      <div class="col-sm-2">
        <sidemenu-project></sidemenu-project>
      </div>

        <h1>Sprint</h1>
        <mat-tab-group>
          <mat-tab label="All Stories">
            <div class='mat -padding' layout="row" layout-wrap>
  <div class="col-3">
              <mat-card class="example-card">
                <mat-card-content>
                <ul>To Do
                  <li>story test 1</li>
                  <li>story test 2</li>
                </ul>
              </mat-card-content>
              </mat-card>
            </div>
  <div class="col-3">
              <mat-card class="example-card">
              <mat-card-content>
                <ul>Doing
                  <li>story test 1</li>
                  <li>story test 2</li>
                </ul>
              </mat-card-content>
              </mat-card>
            </div>
  <div class="col-3">
              <mat-card class="example-card">
              <mat-card-content>
                <ul>Done
                  <li>story test 1</li>
                  <li>story test 2</li>
                </ul>
              </mat-card-content>
              </mat-card>
            </div>
            </div>
          </mat-tab>
          <mat-tab label="My Stories">
          <div layout="row">
  <div class="col-3">
            <mat-card class="example-card">
              <mat-card-content>
              <ul>To Do
                <li>story test 1</li>
                <li>story test 2</li>
              </ul>
            </mat-card-content>
            </mat-card>
          </div>
  <div class="col-3">
            <mat-card class="example-card">
            <mat-card-content>
              <ul>Doing
                <li>story test 1</li>
                <li>story test 2</li>
              </ul>
            </mat-card-content>
            </mat-card>
          </div>
  <div class="col-3">
            <mat-card class="example-card">
            <mat-card-content>
              <ul>Done
                <li>story test 1</li>
                <li>story test 2</li>
              </ul>
            </mat-card-content>
            </mat-card>
          </div>
          </div>
          </mat-tab>
        </mat-tab-group>
    </div>
  </div>
</body>
