body{
  font-family: Helvetica;
  margin: 0;
  margin-top: 20px;
  background-image: url("../../../assets/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  padding: 3em;
  font-family: 'Raleway', 'Arial';
}

#sprint_page {
  max-width: 100%;
  margin: 6em auto;
  width: 100%
}
#left_colum_nk{min-width: 240px;}
#sprint_page .left_colum{
  border: 4px solid black;
  text-align: center;
}
#sprint_page .right_colum .box1{
  max-width: 980px;
  margin: 0 auto;
  border:4px solid black;
}
#sprint_page .left_colum ul li a,
.stories_infos .btn{
  background: none;
  color: black;
  margin: 5px;
  box-shadow: none;
}
#sprint_page .left_colum ul li{border:1px solid black;}
#sprint_page .right_colum .col-sm-4 a.btn{
  display: flex;
  margin: 5px auto;
  background: none;
  color: black;
  max-width: 100%;
}

#sprint_page .right_colum .col-sm-4 .btn span{
  margin: 0 auto;
}
#sprint_page .right_colum .col-sm-4 {
  margin-top: 4em;
  max-width: 30%;
}
#sprint_page .stories_infos .container{
  border:4px solid black;
  height: 400px;
  width: 100%;
}
.stories_infos{
  clear: both;
  margin: 0 auto;
  max-width: 980px
}

#sprint_page .stories_infos .container div div{
  width: 37%;
  text-align: center;
  border: 2px solid;
  height: 200px;
  max-width: 22%;
  margin: 31px auto;
}
#nk_stories{
  border:4px solid black;
}

.row {display: inline;}

.row .col-sm-2 .btn{
  background: none;
  color: black;
  margin: 5px;
  box-shadow: none;
}

.row .col-sm-2 ul li{
  border:1px solid black;
}
.row .col-sm-2 ul li ul li{
  border: none;
  margin-left: 7em;
}
.row .col-sm-2 ul li ul li a{
  color: black;
  font-size:12px;
}
.row .col-sm-2 {
  min-width: 228px;
  max-width: 239px;
}

.example-card {
  max-width: 200px;
  
}

.col-3 {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
