<app-header></app-header>

<body>
  <div class="column">
    <div class="row">

      <div class="col-sm-2">
        <sidemenu-project></sidemenu-project>
      </div>

<form name="form" (ngSubmit)="f.form.valid" #f="ngForm" >
  <div class="col-sm-8">
      <div class="above_the_box">
        <h5>Project Name</h5>
        <div class="input-field col s12">
          <div class="form-group input-group">
            <span class="input-group-addon" style="background-color:transparent;"><i class="glyphicon glyphicon-pencil" style="background-color:transparent;"></i></span>
            <div class="validate" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <input type="text" class="validate" name="name" [(ngModel)]="currentProject.name" #name="ngModel" required />
              <label data-error="Required field!"></label>
            </div>
          </div>
        </div>

        <h5>Project Description</h5>
        <div class="input-field col s12">
          <div class="form-group input-group">
            <span class="input-group-addon" style="background-color:transparent;"><i class="glyphicon glyphicon-pencil" style="background-color:transparent;"></i></span>
            <div class="validate" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <input type="text" class="validate" name="description" [(ngModel)]="currentProject.description" #description="ngModel" required/>
              <label data-error="Required field!"></label>
            </div>
          </div>
        </div>
      </div>

      <div class="out-box row">
        <div class="col-sm-4">
          <h2>Members</h2>
        </div>
        <div class="col-sm-8">
          <button mat-raised-button (click)="openDialog()" style="margin-left: 407px;">Add Member</button>
        </div>
      </div>

      <div class="members-container" *ngFor="let member of membersList let i = index">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-1">
                  <p><span class="glyphicon glyphicon-user"></span>{{member.login}}</p>
                </div>
                <div class="col-sm-1" style="margin-left:600px;">
                  <button mat-button (click)="removeItem(i)">Remove<mat-icon>delete</mat-icon> </button>
                </div>
              </div>
            </li>
          </ul>
      </div>

      <div class="down_of_box">
        <div class="row">
          <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="update()" style="margin-left: 660px;">Update Settings</button>
        </div>
        <div class="row">
          <a routerLink='' style="margin-right: 620px;"> Cancel </a>
          <button mat-raised-button color="warn" (click)="delete()" style="margin-right: 15px;">Delete Project</button>
        </div>
      </div>
  </div>
</form>

</div>
</div>
</body>
