  <h1 mat-dialog-title>Delete project</h1>

  <div mat-dialog-content>
    <p >Are you sure you want to delete this project?</p>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="true">Delete</button>
  </div>