
  <h1 mat-dialog-title>Add a member</h1>

<form name="form" (ngSubmit)="f.form.valid" #f="ngForm" >
  <div mat-dialog-content>

    <p>Choose Member</p>

    <mat-form-field>
      <mat-select placeholder="Users" name="login" #login="ngModel" [(ngModel)]="data.login" required>
        <mat-option *ngFor="let user of users" [value]="user.login">{{user.login}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" [disabled]="!f.valid">Create</button>
  </div>
</form>
