<h1 mat-dialog-title>Remove member</h1>

<div mat-dialog-content>
  <p >Are you sure you want to remove this member?</p>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true">Remove</button>
</div>
