.mat-button{
  border-left: 80px;
  border-right: 80px;
  box-sizing: content-box;
  min-width: 150px;
  font-size: 16px;
  margin-bottom: 2px;
  margin-left: 15px;
  background-color: white;
}

.mat-button:hover{
    color: darkslateblue;
}
