<ul>
  <li><button mat-button style="margin-top: 20px;" (click)="navProject()">Project Overview</button></li>
  <li><button mat-button (click)="navEpics()">Epics</button></li>
  <li><button mat-button (click)="navBacklog()">Backlog</button></li>
  <!-- <li><button mat-button>Issues</button></li> -->
  <li><button mat-button (click)="navSprint()">Sprint</button></li>

  <li><button mat-button style="margin-top: 20px;" (click)="navEditProject()">Edit Project</button></li>

</ul>
