<!-- <h1 mat-dialog-title>Create a new epic</h1>

<form name="form" (ngSubmit)="f.form.valid" #f="ngForm" >
  <div mat-dialog-content>
    <p>Title</p>
      <div class="validate" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
        <input matInput class="validate" name="name" #name="ngModel" [(ngModel)]="data.name" cdkFocusInitial required>
        <label data-error="Required field!"></label>
      </div>
    <p>Description</p>
      <div class="validate" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
        <input matInput class="validate" name="description" #description="ngModel" [(ngModel)]="data.description" required>
        <label data-error="Required field!"></label>
      </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" [disabled]="!f.valid">Create</button>
  </div>
</form> -->

<h1 mat-dialog-title>Create a new epic</h1>


  <div mat-dialog-content>
    <p>Title</p>
      <input matInput [(ngModel)]="data.name" cdkFocusInitial>
    <p>Description</p>
      <input matInput [(ngModel)]="data.description">
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data">Create</button>
  </div>
