<h1 mat-dialog-title>Delete epic</h1>

<div mat-dialog-content>
  <p >Are you sure you want to remove this epic?</p>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true">Delete</button>
</div>
