<app-header></app-header>

<body>

  <button mat-raised-button (click)="openDialog()">Add Epic</button>

  <div class="column">
    <div class="row">

      <div class="col-sm-2">
        <sidemenu-project></sidemenu-project>
      </div>

      <div class="col-sm-8">
        <h1>Epics</h1>
        <div class="epics-container" *ngFor="let epic of epicsList let i = index" >
          <div class="row">
            <div class="first-column">
              <h2>{{epic.name}}</h2>
             </div>

            <div class="second-column">
              <button mat-button style="box-sizing: content-box;">Edit <mat-icon>edit</mat-icon> </button>
              <button mat-button style="box-sizing: content-box;" (click)="openDeleteDialog(i)">Delete <mat-icon>delete</mat-icon> </button>
            </div>
          </div>

            <p style="margin-left: 15px; margin-bottom: 25px;">{{epic.description}}</p>

        </div>
      </div>

    </div>
  </div>

</body>

<!-- <body>
 <div class="row">
  <div class="col-sm-2">
    <sidemenu-project></sidemenu-project>
  </div>

  <div class="col-sm-8">

  	<div class="out-box row">
      <div class="col-sm-4">
        <h2>Epics</h2>
      </div>
  		<div class="col-sm-8">
    		<button mat-raised-button (click)="openDialog()" style="margin-left: 460px;">Add Epic</button>
  		</div>
  	</div>

    <div class="epics-container" *ngFor="let epic of epicsList let i = index">
      <ul class="list-group">
        <li class="list-group-item" data-toggle="collapse" attr.data-target="#demo{{i}}">
          <div class="row">
            <div class="col-sm-3">
              <mat-chip-list>
                <mat-chip color="primary" selected="true">{{epic.name}}</mat-chip>
                <span class="caret"></span>
              </mat-chip-list>
            </div>
            <div class="col-sm-3">
              <p>{{epic.description}}</p>
            </div>
            <div class="col-sm-1" style="margin-left:300px;">
              <button mat-button (click)="removeItem(i)">Remove<mat-icon>delete</mat-icon> </button>
            </div>
          </div>
          <p id="demo{{i}}" class="collapse">stories</p>
        </li>
      </ul>
    </div>

  </div>

 </div>
</body> -->
