.row .col.s7 {
  width: 50%;
  height: 50%;
  float: right;
  margin-top: 50px;
  margin-bottom: 58px;
  position: relative;
  left: 80px;
}

.row .col.s5 {
  margin-top: 90px;
  float: left;
}

body{
  font-family: Helvetica;
  margin: 0;
  margin-top: 20px;
  background-image: url("../../../assets/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
    margin: 10px;

}

.project-container {
    background:#FFF9;
    padding:.5em;
    /* font-weight:bold; */
    /* cursor:pointer; */
    margin-bottom: 15px;
}


b{
  font-size: 48px;
  color:#1e1a43;
}

button.btn-submit{
  background-color: #38547b;
  color: #fff;
  width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
  background-color: #38547b;
}

input.ng-invalid.ng-dirty{
  border-bottom-color : #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}
/*for error div i*/
div.error-message i{
  vertical-align: middle !important;
}

h1{
  font-family: Verdana;
  font-size: 30px;
  font-weight: normal;
  display: inline-block;
  color: #41317a;
  vertical-align: middle;
  margin-top: 23px;
}

h4{
  font-family: Verdana;
  font-weight: normal;
  color: #41317a;
  margin-top: 20px;
}

label{
  font-size:14px;
  font-family: Helvetica;
  font-weight: normal;
}

input[type=text]{
  font-size:14px;
  font-family: Helvetica;
  font-weight: normal;
}

#myInput {
  /*background-image: url('../../../assets/search.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;*/
  /*background: url('../../../assets/search.png') right no-repeat;
  padding-right: 20px;*/
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
