﻿<app-header></app-header>

<body>
  <div style="margin-top:27px; margin-left:400px; margin-right:400px">
    <h1>Create Project</h1>
    <div class="project-container">
          <p>Title</p>
            <input matInput [(ngModel)]="data.name" cdkFocusInitial>

          <p>Description</p>
            <input matInput [(ngModel)]="data.description">

          <p>Select Users</p>
              <mat-form-field>
                <mat-select placeholder="Users" [formControl]="users" multiple>
                <mat-option *ngFor="let user of userList" [value]="user.login">{{user.login}}</mat-option>
                </mat-select>
              </mat-form-field>

            <div mat-dialog-actions>
              <button style="margin-right:20px;" mat-button (click)="cancel()">Cancel</button>
              <button mat-button (click)="createProject()">Create</button>
            </div>

    </div>
  </div>
</body>
