<app-header></app-header>
<body>

  <button mat-raised-button (click)="openDialog()">Add Story</button>

  <div class="column">
    <div class="row">

      <div class="col-sm-2">
        <sidemenu-project></sidemenu-project>
      </div>

      <div class="col-sm-8">
        <h1>Project Backlog</h1>

        <div class="backlog-container" *ngFor="let story of backlogList let i = index">
          <div class="row">
            <div class="first-column">
              <h2>{{story.name}}</h2>
             </div>

            <div class="second-column">
              <button mat-button style="box-sizing: content-box; background-color: white; margin-left:5px">Add to sprint <mat-icon>add_circle</mat-icon> </button>
              <button mat-button style="box-sizing: content-box; background-color: white; margin-left:5px">Edit <mat-icon>edit</mat-icon> </button>
              <button mat-button style="box-sizing: content-box; background-color: white; margin-left:5px" (click)="openDeleteDialog(i)">Delete <mat-icon>delete</mat-icon> </button>
            </div>
          </div>



            <mat-icon style="margin-left:20px; margin-bottom:20px; margin-top:10px;">account_circle</mat-icon>
            Assigned to: <a style="color: darkslateblue;"routerLink='/profile'>{{story?.user?.login}}</a>

            <p style="margin-left: 15px; margin-bottom: 25px;">{{story.description}}</p>

            <!-- <mat-chip-list>
              <mat-chip color="primary" selected="true">{{epic_name}}</mat-chip>
            </mat-chip-list> -->

        </div>
      </div>

    </div>
  </div>

</body>
