  <h1 mat-dialog-title>Create a new story</h1>

  <div mat-dialog-content>
    <p>Title</p>
      <input matInput [(ngModel)]="data.name" cdkFocusInitial>
    <p>Description</p>
      <input matInput [(ngModel)]="data.description">

    <p>Assign User</p>
    <mat-form-field>
      <mat-select [(ngModel)]="data.login">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let user of currentProject.users" [value]="user.login">{{user.login}}</mat-option>
      </mat-select>
    </mat-form-field>

    <p>Select epic</p>
    <mat-form-field>
      <mat-select [(ngModel)]="data.epic">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let epic of epicsList" [value]="epic">{{epic.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data">Create</button>
  </div>
