@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body{
  font-family: Helvetica;
  margin: 0;
  margin-top: 20px;
  background-image: url("../../../assets/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  padding: 3em;
  font-family: 'Raleway', 'Arial';
}


ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    padding: 10px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#fff;
    text-decoration:none;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
    margin: 10px;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #2885C4;
}
.color-light {
    background: #57B3F1;
}

.backlog-container {
    background:#FFF9;
    padding:.5em;
    /* font-weight:bold; */
    /* cursor:pointer; */
    margin-bottom: 15px;
}


.mat-raised-button {
  position:absolute;
  left: 85%;
}

h2 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.1;
  font-style: initial;
  margin-left: 1.5%;
}

.mat-chip-list-wrapper{
  padding: 10px;
  margin-right: 5px;
}

.first-column {
    width: 60%;
    padding: 0 10px 0 0;
    float: left;
}

.second-column {
    width: 40%;
    padding: 0 10px 0 0;
    float: right;
}

/* row */
.row {display: inline;}

.row .col-sm-2 .btn{
  background: none;
  color: black;
  margin: 5px;
  box-shadow: none;
}

.row .col-sm-2 ul li{
  border:1px solid black;
}
.row .col-sm-2 ul li ul li{
  border: none;
  margin-left: 7em;
}
.row .col-sm-2 ul li ul li a{
  color: black;
  font-size:12px;
}
.row .col-sm-2 {
  min-width: 228px;
  max-width: 239px;
}

.col-sm-8 {
    width: 75%;
}
