body{
  font-family: Helvetica;
  margin: 0;
  margin-top: 20px;
  background-image: url("../../../assets/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:20%;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
    margin: 10px;
}

.profile-container {
    background:#FFF9;
    padding:.5em;
    /* font-weight:bold; */
    /* cursor:pointer; */
    /*margin-left: 300px;*/
    margin-right: 200px;
    margin-bottom: 15px;
}

.first-column {
    width: 20%;
    padding: 0 10px 0 0;
    float: left;
}

.second-column {
    width: 80%;
    padding: 0 10px 0 0;
    float: right;
}
