<app-header></app-header>

<body>
  <h2 align="center">Profile</h2>
    <div class="row">
      <div class="first-column">
        <img src="../../../assets/user.png" height="100" width="100" style="margin-left: 100px; margin-top:8px;">
        <!--<button mat-mini-fab color="warn" style="float=left;margin-bottom:10px;margin-left 110px;" >+</button>-->
      </div>
      <div class="second-column">
        <div class="profile-container">
          <ul>
          <li><mat-icon style="margin:10px">check_circle_outline</mat-icon>Username: {{currentUser.login}}</li>
          <li><mat-icon style="margin:10px">account_circle</mat-icon>Name: {{currentUser.firstName}}</li>
          <li><mat-icon style="margin:10px">email</mat-icon>Email: {{currentUser.email}}</li>
          </ul>
        </div>
      </div>
    </div>


  <a mat-raised-button routerLink="/settings"  color="primary" style="width:10%;margin-left:auto;margin-right:auto;display:block;">Edit profile</a>
</body>
