.row .col.s7 {
  width: 50%;
  height: 50%;
  float: right;
  margin-top: 50px;
  margin-bottom: 58px;
  position: relative;
  left: 80px;
}

.row .col.s5 {
  margin-top: 90px;
  float: left;
}

body{
  font-family: Helvetica;
  margin: 0;
  margin-top: 20px;
  background-image: url("../../../assets/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
}

b{
  font-size: 48px;
  color:#1e1a43;
}
