﻿<app-header></app-header>
<body>
    <div style="text-align: center; margin-top:27px;">
      <div class="container">
        <h1>Current Projects</h1>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let project of projects let i=index ">
            <a routerLink="project" (click)="onClick(i)"> {{project.name}} </a><span class="badge">{{i+1}}</span>
          </li>
        </ul>
      </div>
    </div>
</body>
