/* input.ng-invalid.ng-dirty{
  border-bottom-color : #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}
/*for error div i*/
/*
div.error-message i{
  vertical-align: middle !important;
}

.row .col.s7 {
  width: 50%;
  height: 50%;
  float: right;
  margin-top: 50px;
  margin-bottom: 58px;
  position: relative;
  left: 80px;
}

.row .col.s5 {
  margin-top: 90px;
  float: left;
}

#menu-bar{
  background: white;
  color: #1e1a43;
  height: 80px;
}

#menu-bar h1{
  font-family: Verdana;
  font-size: 30px;
  font-weight: normal;
  display: inline-block;
  color: #41317a;
  vertical-align: middle;
  margin-top: 25px;
}

#menu-bar b{
  font-family: Verdana;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
}


#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff;
}

input[type=text]{
  font-family: Helvetica;
  font-size: 15px;
} */
#nk_row{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#nk_row .nk_wrapper,
#menu-bar{
  display: inline-flex;
  width: 80%;
}
#nk_row .nk_wrapper .dropdown{
  padding:15px;
}
#nk_row h3{
  font-family: Verdana;
  color: #41317a;
}
