<div id="nk_row">
  <div class="nk_wrapper">
    <div id="menu-bar">
      <a routerLink=''><img src="../../assets/rocket.gif" alt="logo" height="65" width="65"></a>
      <h3>ScrumTool</h3>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
        Projects
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation" *ngFor="let project of projects">
          <a role="menuitem" tabindex="-1" routerLink='/project'>{{project.name}}</a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
        <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/create_project'>Create project</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Create team</a></li>
      </ul>
    </div>

    <!-- <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text"  style="" placeholder="Search">
      </div>
    </form> -->

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
        <li role="presentation" class="dropdown-header">{{currentUser.login}}</li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/profile'>Profile</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings'>Settings</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" [routerLink]="['/login']">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
