body{
  font-family: Helvetica;
  margin: 0;
  margin-top: 20px;
  background-image: url("../../../assets/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  padding: 3em;
  width: 100%;
  height: 100vh;
}


.row {
  max-width: 1324px;
}

b{
  font-size: 48px;
  color:#1e1a43;
}

.row .col-sm-2 .btn{
  background: none;
  color: black;
  margin: 5px;
  box-shadow: none;
}

.row .col-sm-2 ul li{
  border:1px solid black;
}
.row .col-sm-2 ul li ul li{
  border: none;
  margin-left: 7em;
}
.row .col-sm-2 ul li ul li a{
  color: black;
  font-size:12px;
}
.row .col-sm-2 {
  min-width: 228px;
  max-width: 239px;
  margin-left: 3em;
}

#only_customer_nk{
  margin-top: 3em;
  padding: 12px;
  color: black
}
.st_box_infos{
  border: 2px solid;
  padding: 15px;
}

.col-sm-8 input{
  width : 32%;
  max-width: 323px;
  min-width: 199px;
  padding: 0 10px 0;
}
.col-sm-8 h5{
  margin-bottom: 0px;
  font-family: Verdana;
  font-weight: normal;
  color: #41317a;
}

h2{
  font-family: Verdana;
  font-weight: normal;
  color: #41317a;
}

.out-box .col-sm-8{
  float: right;
  margin: 10px auto;
}
.out-box .col-sm-8 a{
  float: right;
}
.above_the_box{
  margin-left: 4em;
}

.down_of_box {
  margin-top: 13px;
  float: right;
  display: grid;
}

.down_of_box button{
  margin: 5px;
}

input[type=text]{
  font-size:14px;
  font-family: Helvetica;
  font-weight: normal;
}

.mat-raised-button.mat-primary {
  background-color: #3276b1;
}

label{
  font-size:14px;
  font-family: Helvetica;
  font-weight: normal;
}
