<app-header></app-header>
<body>
  <h2 align="center">Settings</h2>
  <img src="../../../assets/user.png" height="100" width="100" style="margin-left: 100px; margin-top:8px;"/>
  <!-- <button mat-mini-fab color="warn" style="float=left;margin-bottom:10px;margin-left 110px;" >+</button> -->
  <div class="col-sm-8">
      <div class="above_the_box">
        <h5>Full Name</h5>
        <div class="input-field col s12">
          <div class="form-group input-group">
            <span class="input-group-addon" style="background-color:transparent;"><i class="glyphicon glyphicon-pencil" style="background-color:transparent;"></i></span>
            <div class="validate" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <input type="text" class="validate" name="name" [(ngModel)]="currentUser.name" #name="ngModel" required />
              <label data-error="Required field!"></label>
            </div>
          </div>
        </div>

        <h5>Username</h5>
        <div class="input-field col s12">
          <div class="form-group input-group">
            <span class="input-group-addon" style="background-color:transparent;"><i class="glyphicon glyphicon-pencil" style="background-color:transparent;"></i></span>
            <div class="validate" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <input type="text" class="validate" name="name" [(ngModel)]="currentUser.login" #description="ngModel" required/>
              <label data-error="Required field!"></label>
            </div>
          </div>
        </div>

        <h5>Password</h5>
        <div class="input-field col s12">
          <div class="form-group input-group">
            <span class="input-group-addon" style="background-color:transparent;"><i class="glyphicon glyphicon-pencil" style="background-color:transparent;"></i></span>
            <div class="validate" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <input type="password" class="validate" name="password" [(ngModel)]="currentUser.password" #password="ngModel" required minlength="8"/>
              <label [attr.data-error]="password.errors!=null?(password.errors.required?'Required field!':'Minimum 8 characters needed'):''"></label>
            </div>
          </div>
        </div>
        <h5>Email</h5>
        <div class="input-field col s12">
          <div class="form-group input-group">
            <span class="input-group-addon" style="background-color:transparent;"><i class="glyphicon glyphicon-pencil" style="background-color:transparent;"></i></span>
            <div class="validate" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <input type="email" class="validate" name="email" [(ngModel)]="currentUser.email" #email="ngModel" [pattern]="emailPattern" required />
              <label [attr.data-error]="email.errors!=null?(email.errors.required?'Required field!':'Invalid email!'):''"></label>
            </div>
          </div>
        </div>
      </div>
      <button mat-button>Save</button>
    </div>
</body>
