button.btn-submit{
  background-color: #38547b;
  color: #fff;
  width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
  background-color: #38547b;
}

input.ng-invalid.ng-dirty{
  border-bottom-color : #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}
/*for error div i*/
div.error-message i{
  vertical-align: middle !important;
}

/*for tab control*/
.tabs{
  height: 65px;
}
.tabs .tab{
  text-transform : none !important;
  line-height: 65px;
  height: 65px;
}
.tabs .tab a{
  font-size: 25px;
  color: grey !important;
  text-decoration: none;
}

.tabs .tab a.active{
  background-color: #fff !important;
}


.row .col.s7 {
  width: 50%;
  height: 50%;
  float: right;
  margin-top: 50px;
  margin-bottom: 58px;
  position: relative;
  left: 80px;
}

.row .col.s5 {
  margin-top: 90px;
  float: left;
}

#menu-bar{
  background: white;
  color: #1e1a43;
  height: 80px;
}

h1{
  font-family: Verdana;
  font-size: 30px;
  font-weight: normal;
  display: inline-block;
  color: #41317a;
  vertical-align: middle;
  margin-top: 23px;
}

#menu-bar b{
  font-family: Verdana;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
}


#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff
}

body{
  font-family: Helvetica;
  margin: 0;
  background-image: url("../../assets/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
}

b{
  font-size: 48px;
  color:#1e1a43;
}

label{
  font-size:14px;
  font-family: Helvetica;
  font-weight: normal;
}

input[type=text]{
  font-size:14px;
  font-family: Helvetica;
  font-weight: normal;
}

input[type=email]{
  font-size:14px;
  font-family: Helvetica;
  font-weight: normal;
}

input[type=password]{
  font-size:14px;
  font-family: Helvetica;
  font-weight: normal;
}
