<div id="menu-bar">
  <a routerLink='/login'><img src="../../assets/rocket.gif" alt="logo" height="65" width="65" style="margin-left: 100px; margin-top:8px;"></a>
  <h1>ScrumTool</h1>
</div>

<body>
<div class="container">
  <div class="row">
    <div class="col s7" >
      <div class="card grey lighten-2">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width tabs-transparent">
            <li class="tab">
              <a routerLink='/login' routerLinkActive='active'>Sign In</a>

            </li>
            <li class="tab">

              <a  routerLink='/register' routerLinkActive='active'>Sign Up</a>
            </li>
          </ul>
        </div>
        <div class="card-content white">
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="col s5">
      <b>The #1 software development tool used by agile teams</b>
    </div>
  </div>
</div>
</body>
